name: generate gif
on: 
  push:
    paths: 'main.py'
  workflow_dispatch:
permissions:
  contents: write
concurrency:
  group: $GITHUB_WORKFLOW
  cancel-in-progress: true
jobs:
  gen:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - run: |
        python3 main.py
        git add main.gif
        git config --global user.email "$GITHUB_REPOSITORY_OWNER_ID+$GITHUB_REPOSITORY_OWNER@users.noreply.github.com"
        git config --global user.name "$GITHUB_REPOSITORY_OWNER"
        git commit -m "$GITHUB_WORKFLOW" || true
        git push || true
        
